.dark-icon-tray {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 65px;

  .sidebar-item {
    transition: width 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    display: flex;
    align-items: center;
    min-width: 65px;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .link {
      position: relative;
      display: table;
      border-collapse: collapse;
      border-spacing: 0;

      &:hover,
      &.selected {
        svg {
          path {
            fill: #0099ff;
          }
        }

        .icon-title {
          color: #0099ff !important;
        }
      }

      .icon-title {
        // visibility: hidden;
        transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        position: relative;
        display: table-cell;
        vertical-align: middle;
        min-width: 120px;
        font-family: "Lato";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: #999999;
        opacity: 0;
      }
    }

    svg {
      min-width: 4.25rem;
    }
  }
}
